<section>
    <section id="CreateProject"><h4><code>プロジェクトを作成する</code></h4></section>

    <section data-markdown>
        <textarea data-template>
            事前にCoCalcにログインしておく
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <a href="https://cocalc.com/projects" target="_blank">ここ</a>をクリックしてプロジェクト一覧を開く
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <code style="background-color: lightgray">Create New Project...</code>をクリックする<br>
            <img src="assets/CoCalcCreateProject.png"></img>
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            <code style="background-color: lightgray">Project title:</code>の横のテキストボックスにプロジェクト名を入力する<br>
            ※ 画像では<code style="background-color: lightgray">電子情報の基礎</code>がプロジェクト名です。<br>
            <img src="assets/CoCalcCreateProjectTitle.png"></img>
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <code style="background-color: lightgray">Create Project</code>をクリックする<br>
            <img src="assets/CoCalcCreateProjectConfirm.png"></img>
        </textarea>
    </section>
    <section data-markdown>
        <textarea data-template>
            [ここ](#StartProject)をクリックして次のステップへ進む
        </textarea>
    </section>




</section>