<section style="font-size: 0.8em">
    <h4>目次</h4>
    <ul>
        <li><a href="#Usage">この手順書の使い方</a></li>
        <li><a href="#Index">目次</a></li>
        <li><a href="#Repository">手順書の管理について</a></li>
    </ul>

    <h5><code>CoCalc</code>の使用方法</h5>
    <ol>
        <li><a href="#OpenCoCalc">CoCalcを開く</a></li>
        <li><a href="#RegisterCoCalc">CoCalcに登録する ※1</a></li>
        <li><a href="#LoginCoCalc">CoCalcにログインする</a></li>
        <li><a href="#CreateProject">Projectを作成する</a></li>
        <li><a href="#OpenProject">Projectを開く</a></li>
        <li><a href="#StartProject">Projectを開始する</a></li>
        <li><a href="#StartServer">JupyterNotebook JupyterLabを起動する</a></li>
    </ol><br>
    ※1 登録せずに使用する方法もありますが登録してください
</section>