<section>
    <section id="LoginCoCalc"><h4><code>CoCalcにログインする</code></h4></section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcHomepageSignIn.png"></img><br>
            <code style="background-color: lightgray">Sign In</code>をクリックする
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcSignInEmail.png"></img><br>
            <code style="background-color: lightgray">Email address</code>の部分に登録に使用したメールアドレスを入力する
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcSignInPassword.png"></img><br>
            <code style="background-color: lightgray">Password</code>の部分に登録に使用したパスワードを入力する
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            [既存のプロジェクトを開く場合はここをクリック](#OpenProject)
            [新しくプロジェクトを作成する場合はここをクリック](#CreateProject)
        </textarea>
    </section>



</section>