<section>
    <section id="OpenProject"><h4><code>Projectを開く</code></h4></section>

    <section data-markdown>
        <textarea data-template>
            <a href="https://cocalc.com/projects" target="_blank">ここ</a>をクリックしてプロジェクト一覧を開く
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcProjectOpen.png"></img><br>
            開きたいプロジェクト名をクリックする<br>
            もし開きたいプロジェクトが見つからないときは<code style="background-color: lightgray">Show all projects...</code>をクリックする
        </textarea>
    </section>



</section>