<section>
    <section id="RegisterCoCalc"><h4><code>CoCalcに登録する</code></h4></section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcHomepageSignUp.png"></img><br>
            <code style="background-color: lightgray">Sign Up</code>をクリックする
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcTerms.png"></img><br>
            <code style="background-color: lightgray"> I agree to the Terms of Service</code>にチェックを入れる
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcEmail.png"></img><br>
            <code style="background-color: lightgray">Email Address</code>と書かれているところにメールアドレスを入力する<br>
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcPassword.png"></img><br>
            <code style="background-color: lightgray">Password</code>と書かれている部分にパスワードを入力する<br>
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcFirstName.png"></img><br>
            <code style="background-color: lightgray">First name</code>と書かれている部分に名を入力する<br>
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcLastName.png"></img><br>
            <code style="background-color: lightgray">Last name</code>と書かれている部分に性を入力する<br>
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcSignUp.png"></img><br>
            <code style="background-color: lightgray">Sign Up</code>をクリックする<br>
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            登録したメールアドレス宛に送られたメールを開き<br>
            <code style="background-color: lightgray">verify your email address</code>をクリックする<br>
            <img src="assets/CoCalcVerifyEmail.png"></img><br>
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcVerifiedEmail.png"></img><br>
            この画面が表示されたら登録完了
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            [ここ](#CreateProject)をクリックして次のステップへ進む
        </textarea>
    </section>




</section>