<section id="Repository" data-markdown>
    <textarea data-template>
        ## 手順書の管理について
        リポジトリ: [GitLab](https://gitlab.com/aa20001/useCoCalc)<br/>
        手順に問題がある場合は[GitLabIssue](https://gitlab.com/aa20001/useCoCalc/-/issues)で報告するか教員等まで連絡してください。<br/>
        修正案や改善案の提案,プルリクエストなども歓迎します。
    </textarea>
</section>