<section>
    <section id="StartProject"><h4><code>Projectを開始する</code></h4></section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcProjectStart.png"></img><br>
            <code style="background-color: lightgray">Start project</code>をクリックする
        </textarea>
    </section>



</section>