<section>
    <section id="StartServer"><h4><code>Jupyterを起動する</code></h4></section>

    <section data-markdown>
        <textarea data-template>
            事前に[プロジェクトを開始](#StartProject)しておく
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcProjectServerLocation.png"></img><br>
            左側にある<code style="background-color: lightgray">Servers</code>をクリックする
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcServers.png"></img><br>
            <code style="background-color: lightgray">Jupyter Classic...</code>または<code style="background-color: lightgray">JupyterLab...</code>をクリックする
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcJupyterNotebook.png"></img><br>
            <code style="background-color: lightgray">Jupyter Classic Notebook Server</code>または<code style="background-color: lightgray">JupyterLab Notebook Server</code>をクリックする
        </textarea>
    </section>

    <section data-markdown>
        <textarea data-template>
            <img src="assets/CoCalcServerPopup.png"></img><br>
            右上にある<code style="background-color: lightgray">click here</code>をクリックする
        </textarea>
    </section>



</section>